@CHARSET "UTF-8";


body {
	font-size: 15px; 
	text-align: center;
	width: 80%;
	background: url('../images/3.jpg') no-repeat left top;
	background-size: cover;
	margin: 0 auto;
	margin-top: 70px;
}


table {
	width: 800px;
	border: 1px black solid;
	font-size: 15px;
	text-align: center;
	margin: 0 auto;
	
}

select {
	font-size: 15px; 
	
}

form {
	font-size: 12px; 
}

p {
	font-size: 20px;
	font-weight: bold;
	
}
